/* HOME PAGE */

#wrapper {
    background-color: white !important;
}

#custom-text {
    padding: 0;
}

.featured-products :is(h1, h2) {
    text-align: left !important;
    font-weight: normal !important;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.featured-products h1 {
    font-weight: bold !important;
}

.featured-products :is(.row, .products) {
    flex-wrap: nowrap;
    gap: 1rem;
}

.featured-products > div > .product {
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.thumbnail-container {
     display: flex;
    flex-direction: column;
    justify-content: end;
    margin: none !important;
}

.product .wishlist-button-add {
    background-color: rgba(0,0,0,0) !important;
    box-shadow: none !important;
    position: absolute;
    top: 3px !important;
}


.product-flags {
    display: flex !important;
}

.product-flag {
    border-radius: 4px;
    scale: 0.8;
    top: 0 !important;
}

.product-flag.discount {
    position: absolute;
}

.product .product-flag.new {
    position: absolute;
    z-index: 1;
}


.thumbnail-top {
    margin-top: 3.5rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.product-description h3 a {
    font-weight: bold !important;
}
.product-description h3 {
    margin-bottom: 2rem !important;
}

.info {
    display: grid;
    place-content: center;    
}

.info .quick-view {
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
}



.info .variant-links {
    display: none;
}

.featured-products .all-product-link {
    display: none;
}


.banner {
    margin-top: 4rem;
}

.banner div {
    margin: 2rem 0;
}

.banner h1 {
    color: black;
}

.banner p {
    color: rgb(100, 100, 100);
    font-weight: light;
}

.banner b {
    color: black;
}


/*  NAVBAR  */
nav {
    max-height: none !important;
}

.header-top {
    background-color: #011638 !important;
}

.header-nav {
    padding: 1rem 0;
}

.nav-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.nav-container > a {
    display: grid;
    place-content: center;
}

.nav-container > a img {
    width: 8rem !important;
    max-height: none !important;
}

.nav-right-container {
    display: flex;
}

.nav-right-container > :nth-child(2) {
    margin-left: auto;
}

.user-info, #_desktop_user_info {
    margin: 0 !important;
    width: min-content !important;
}

.user-info a {
    display: flex !important;
    width: min-content !important;
}

#search_widget {
    min-width: none !important;
}

#search_widget form {
    display: flex !important;
    align-items: center !important;
    width: 20rem !important;
}

#search_widget .search {
    font-size: 1.5rem !important;
    top: 40%;
    transform: translateY(-50%);
    right: 1rem;
}

#search_widget input {
    padding: 0.5rem !important;
    background-color: white !important;
    border: 2px solid #ddd !important;
    border-radius: 0.5rem !important;
}



.header-top.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

body:has(.header-top.is-sticky) #wrapper {
    margin-top: 83px; 
}

/* Animacja */
@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@media (max-width: 992px) {

    .header-top {
        display: none;
    }
}

.hidden-md-up.text-sm-center.mobile #_mobile_user_info {
    margin: 15px 0 !important;
}



#header .header-top a[data-depth="0"] {
    color: white !important;
}


/* PRODUCT */

.current-price-value {
    font-size: 2rem;
}

.current-price {
    margin: 0 !important;
}

.product-price {
    display: flex;
    align-items: end;
}

.product-unit-price {
    color: rgb(100, 100, 100);
    font-style: italic;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
}

.tax-shipping-delivery-label {
    display: none;
}

.page-footer {
    margin-bottom: 10rem !important;
}